/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   /* background-image: url('assets/images/login-background.webp');*/
    overflow: hidden;
}
header {
    color: #ac1717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.top-bar{
    background-color: #9e121b;
}
.logo img {
    height: 70px;
    margin-left: 10%;
}

.search {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the search container to the right */
    
}

.search input {
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 80%;
    margin-top: -5em;
    width: 50em;
}

.search button {
    background-color: #4c4caf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: -3em;
    margin-bottom: 2em;
}


.search button:hover {
    background-color: #37378a;
}

/* Sidebar (Top bar) styles */
.sidebar {
    background-color: #333;
    color: white;
    display: flex;
    padding: 20px 20px;
    font-size: 1em;
}

.sidebar a {
    color: rgba(144, 61, 61, 0.519);
    text-decoration: none;
    margin-right: 70px;
}

.sidebar a.active {
    font-weight: bold;
}

/* Content styles */
.content {
    margin-left: 1em; /* Adjust this margin to move content away from sidebar */
    padding: 20px;
    padding-top: 30px; /* To ensure content is not hidden under the fixed header */
    overflow-y: auto;
    height: calc(100vh - 200px); /* To ensure content area is scrollable and adjusts to window height */
    width: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
}

/* Dashboard container styles */
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    height: 100%;
}

.dashboard-item {
    background-color: #372c76;
    color: white;
    padding: 20px ;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    
}

.dashboard-item i {
    font-size: 50px;
    margin-bottom: 10px;
}

.dashboard-item.graph {
    grid-column: span 2;
    height: 300px;
}

/* Add member form styles */
/* Form container styles */
.form-container {
    background-color: #2b0505;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Form title styles */
.form-title {
    text-align: center;
    color: #ac1717;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form section styles */
.form-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Personal details styles */
.personal-details,
.church-details,
.family-details {
    flex: 1;
    margin-right: 20px;
}

/* Field label styles */
.form-label {
    display: block;
    margin-bottom: 5px;
    color: #abadbc;
}

/* Field styles */
.form-control,
.form-select,
.form-check-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.form-control[type="file"] {
    padding: 3px;
}

/* Button styles */
.btn-primary {
    background-color: #ac1717;
    border: none;
    padding: 10px 20px;
    color: rgb(56, 37, 37);
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4c4caf;
}


/* Custom styles for member table*/
.custom-table {
    width: auto; /* Set width to auto so that it can overflow */
    margin-bottom: 20px;
    border-collapse: collapse;
}


.custom-table th,
.custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

.custom-table th {
    background-color: #db1919;
    font-weight: bold;
    color: #371212;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
    background-color: #e5e5e5;
}
#member-table-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
}

/* CSS styles for member table headers */
#member-table-container table th {
    background-color: #f2f2f2; /* Set background color for table headers */
    font-weight: bold;
    color: #333;
}

